body {
    background-color: white;
}

.header {
    width: 100%;
    height: 20%;
    margin: 0 auto;
}

.headmaster {
    color: #8a288f;
    font-size: 50px;

}

.rules {
    font-style: italic;
    font-size: 15px;
}

div.header h1 {
    color: #8a288f;
    font-size: 50px;
    text-align: center;
}

p.radius span {
    margin: 10px;
    padding: 10px;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    border: 1px solid white;
    background-color: #8a288f;
    color: white;
    font-size: 50px;
    display: inline-block;

}

p.radius1 span {
    margin: 10px;
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid white;
    background-color: #8a288f;
    color: white;
    font-size: 30px;
    display: inline-block;

}

p.radius {
    text-align: center;

}

p.radius1 {
    text-align: center;

}
p.description {
    text-align: center;
    font-size: 30px;
    color: #8a288f;
}

p.description span {
    color: red;
}


div.buttons {
    width: 100%;
    height: 80px;
}

div.buttons p {
    text-align: center;
}

div.buttons p span {
    height: 30px;
    width: 175px;
    background-color: #8a288f;
    border: 1px solid white;
    margin: 10px;
    display: inline-block;
    color: white;
    font-size: 20px;
    padding: 10px;
}

div.buttons p span:hover {
    background-color: black;
}

div.buttons p span:active {
    background-color: orangered;
}


div.form form select {
    text-align: center;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #8a288f;
    margin: 5px;
    display: inline-block;
}

div.form form input {
    color: white;
    background-color: #8a288f;
    margin-left: 20px;
    height: 40px;
    width: 90px;
}

.buttons a.main {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.buttons span.home {
    width: 400px;
    border: 1px solid white;
}

.buttons span.home:hover {
    background-color: #f390ff;
}

.buttons a:hover {
    color: #8a288f;
}

