body {
    background-color: yellow;
}

.header {
    width: 100%;
    height: 20%;
    margin: 0 auto;
}

div.header h1 {
    color: red;
    font-size: 50px;
    text-align: center;
}

p.radius span {
    margin: 10px;
    padding: 10px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 1px solid black;
    background-color: blue;
    color: white;
    font-size: 60px;
    display: inline-block;

}

p.radius1 span {
    margin: 10px;
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid black;
    background-color: blue;
    color: white;
    font-size: 30px;
    display: inline-block;

}

p.radius {
    text-align: center;

}

p.radius1 {
    text-align: center;

}
p.description {
    text-align: center;
    font-size: 30px;
}

p.description span {
    color: red;
}


div.buttons {
    width: 100%;
    height: 80px;
}

div.buttons p {
    text-align: center;
}

div.buttons p span {
    height: 30px;
    width: 175px;
    background-color: red;
    border: 1px solid white;
    margin: 10px;
    display: inline-block;
    color: white;
    font-size: 20px;
    padding: 10px;
}

div.buttons p span:hover {
    background-color: black;
}

div.buttons p span:active {
    background-color: orangered;
}

form p {
    width: 800px;
}

form p label{
    text-align: left;
    margin-right: 30px;
}

div.form form{

    width: 100px;
    height: 30px;
}

div.form form select {
    width: 100px;
    text-align: center;
}