<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>LottoMat</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

</head>
<body>
<div class="header">
    <h1>Lotto Generator game</h1>
</div>
<div class="buttons">
    <p><span class="home"><a th:href="@{/lotto}" class="main">Lotto Mat</a></span> </p>
</div>

<div class="buttons">
    <p><span class="home"><a th:href="@{/mini}" class="main">Mini Lotto Mat</a></span> </p>
</div>

<div class="buttons">
    <p><span class="home"><a th:href="@{/multi}" class="main">Multi Lotto Mat</a> </span></p>
</div>

</div>

</body>
</html>