<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>LottoMat</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

</head>
<body>
<div class="header">
    <h1>LottoMat</h1>
</div>
<div>
    <p class="description">Drawn numbers below: </p>
    <p class="radius">
        <span th:text="${lotto.first}"></span>
        <span th:text="${lotto.second}"></span>
        <span th:text="${lotto.third}"></span>
        <span th:text="${lotto.fourth}"></span>
        <span th:text="${lotto.fiveth}"></span>
        <span th:text="${lotto.sixth}"></span>
    </p>
    <p class="description">You predicted correct number(s) </p>
</div>

<div>
    <p class="description">User numbers below: </p>
    <p class="radius">
        <span th:text="${lotto3.first}"></span>
        <span th:text="${lotto3.second}"></span>
        <span th:text="${lotto3.third}"></span>
        <span th:text="${lotto3.fourth}"></span>
        <span th:text="${lotto3.fiveth}"></span>
        <span th:text="${lotto3.sixth}"></span>
    </p>
    <p class="description">You predicted correct number(s) </p>
</div>

<div class="buttons">
    <p>
    <button>Play again</button>
        <button>Go to menu</button></p>
</div>

</div>

</body>
</html>