<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<p>Please choose 6 unique numbers</p>
<div class="form">
<form th:action="@{/lotto}" method="post">

    <p>
        <label>Please choose your 1 number: </label>
        <select th:field="*{lotto.first}">
            <option value=""> -- </option>
            <option th:each="lotto : ${lotto2}"
                th:value="${lotto}"
                th:text="${lotto}">
            </option>
        </select>

    </p>

    <p>
        <label>Please choose your 2 number: </label>
        <select th:field="*{lotto.second}">
            <option value=""> -- </option>
            <option th:each="lotto : ${lotto2}"
                th:value="${lotto}"
                th:text="${lotto}">
            </option>
    </select>
    </p>

    <p>
    <label>Please choose your 3 number: </label>
    <select th:field="*{lotto.third}">
        <option value=""> -- </option>
        <option th:each="lotto : ${lotto2}"
                th:value="${lotto}"
                th:text="${lotto}">
        </option>
    </select>
    </p>

    <p>
    <label>Please choose your 4 number: </label>
    <select th:field="*{lotto.fourth}">
        <option value=""> -- </option>
        <option th:each="lotto : ${lotto2}"
                th:value="${lotto}"
                th:text="${lotto}">
        </option>
    </select>
    </p>

    <p>
    <label>Please choose your 5 number: </label>
    <select th:field="*{lotto.fiveth}">
        <option value=""> -- </option>
        <option th:each="lotto : ${lotto2}"
                th:value="${lotto}"
                th:text="${lotto}">
        </option>
    </select>
    </p>

    <p>
    <label>Please choose your 6 number: </label>
    <select th:field="*{lotto.sixth}">
        <option value=""> -- </option>
        <option th:each="lotto : ${lotto2}"
                th:value="${lotto}"
                th:text="${lotto}">
        </option>
    </select>
    </p>

    <input type="submit" value="Confirm"/>
</form>
</div>
</body>
</html>