<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<h1  class="headmaster">Multi Lotto Mat</h1>
<p class="rules">Please choose 10 unique numbers</p>
<div class="form">
<form th:action="@{/multi}" method="post">

    <p>
        <select th:field="*{lotto.first}">
            <option value=""> -- </option>
            <option th:each="lotto : ${lotto2}"
                th:value="${lotto}"
                th:text="${lotto}">
            </option>
        </select>


        <select th:field="*{lotto.second}">
            <option value=""> -- </option>
            <option th:each="lotto : ${lotto2}"
                th:value="${lotto}"
                th:text="${lotto}">
            </option>
    </select>

    <select th:field="*{lotto.third}">
        <option value=""> -- </option>
        <option th:each="lotto : ${lotto2}"
                th:value="${lotto}"
                th:text="${lotto}">
        </option>
    </select>

    <select th:field="*{lotto.fourth}">
        <option value=""> -- </option>
        <option th:each="lotto : ${lotto2}"
                th:value="${lotto}"
                th:text="${lotto}">
        </option>
    </select>

    <select th:field="*{lotto.fiveth}">
        <option value=""> -- </option>
        <option th:each="lotto : ${lotto2}"
                th:value="${lotto}"
                th:text="${lotto}">
        </option>
    </select>

    <select th:field="*{lotto.sixth}">
        <option value=""> -- </option>
        <option th:each="lotto : ${lotto2}"
                th:value="${lotto}"
                th:text="${lotto}">
        </option>
    </select>

        <select th:field="*{lotto.seventh}">
            <option value=""> -- </option>
            <option th:each="lotto : ${lotto2}"
                    th:value="${lotto}"
                    th:text="${lotto}">
            </option>
        </select>


        <select th:field="*{lotto.eight}">
            <option value=""> -- </option>
            <option th:each="lotto : ${lotto2}"
                    th:value="${lotto}"
                    th:text="${lotto}">
            </option>
        </select>

        <select th:field="*{lotto.nineth}">
            <option value=""> -- </option>
            <option th:each="lotto : ${lotto2}"
                    th:value="${lotto}"
                    th:text="${lotto}">
            </option>
        </select>


        <select th:field="*{lotto.ten}">
            <option value=""> -- </option>
            <option th:each="lotto : ${lotto2}"
                    th:value="${lotto}"
                    th:text="${lotto}">
            </option>
        </select>

    <input type="submit" value="Confirm"/>
    </p>
</form>
</div>
</body>
</html>